{{!-- <h1 class="d-flex justify-content-center align-items-center vh-100 color-changing-text">test</h1> --}}

<h1 class="first-title d-flex justify-content-center align-items-center vh-100 color-changing-text">test</h1>